@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sidebar__item_svg-background: #D8D8D8;
  --sidebar__item_svg-gradient: linear-gradient(to bottom, #FFF500, #B42BA6);
  --body-background: #EEEEEE;
  --main-background-color: rgb(255, 255, 255);
  --hover-background-color: rgba(0, 0, 0, 0.06);
  --focus-background-color: #F5F5F5;
  --main-text-color: #1E1E1E;
  --secondary-text-color: #707070;
  --online-sign-background: #53E04E;
  --divider-border-color: rgba(30, 30, 30, 0.4);
  --submit-background-color: #EEEEEE;
  --danger-color: #E04E4E;
  --placeholder-color: #A0A0A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'inter', sans-serif;
}

button, a {
  cursor: pointer;
}

input,
textarea {
  outline: none;
  color: var(--main-text-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
}

.online-tag {
  background-color: var(--online-sign-background);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #1E1E1E;
}

@media (max-width: 1000px) {
  p,
  .conv__message__info-top {
    font-size: 12px !important;
  }

  .conv__message-avatar, .recent__avatar-img {
    width: 45px !important;
    height: 45px !important;
    border-radius: 10px !important;
  }

  .recent__avatar-online {
    height: 15px !important;
    width: 15px !important;
    position: relative !important;
    bottom: 17px !important;
    left: 33px !important;
  }
}

@media (max-width: 940px) {
  main {
    grid-template-rows: 90% 10%;
  }

  .sidebar {
    grid-row: 2;
    grid-column: 1/17 !important;
  }

  .sidebar nav {
    flex-direction: row !important;
    justify-content: space-evenly !important;
  }

  .sidebar nav ul {
    flex-direction: row !important;

  }

  .chats {
    grid-column: 1/6 !important;
  }
}

.popup {
  display: block;
  background-color: var(--main-background-color);
  padding: 20px;
  border-radius: 16px;

  position: absolute;
  left: calc(50%);
  top: calc(50%);

  border: 1px solid var(--divider-border-color);
}

.logOut-btn {
  background-color: var(--danger-color);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}