


body {
    background-color: var(--body-background);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    height: 100vh;
    color: var(--main-text-color);
}

section .heading {
    height: 85px;

    h2 {
        font-weight: 400;
        font-size: 20px;
    }
}