


body {
    background-color: var(--body-background);
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    padding: 0 100px;
    height: 100vh;
    color: var(--main-text-color);
}

section .heading {
    height: 80px;
}